@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

/* Global variables */
:root {
  --main-color: #020305;
  --secondary-color: #353983;
  --grdiant-color: linear-gradient(180deg, #595EC1 5%, #353983 45%, #25286C 100%);
  --background-color: #020305;
  --font-family: "Onest", sans-serif;
  --nd-font-family: "Inter", sans-serif;
  --heading-size: 2rem;
  --body-color: #8D8D8D;
  --mission-font-color: #888A8D;

  /* === Font Family === */
  --font-family-base: "Onest", sans-serif;

  /* === Desktop Typography === */
  --desktop-h1: 4rem;
  --desktop-h2: 3rem;
  --desktop-h3: 2rem;
  --desktop-h4: 1.5rem;
  --desktop-h5: 1.25rem;
  --desktop-body: 1rem;
  --desktop-small: 0.875rem;

  /* === Mobile Typography === */
  --mobile-h1: 2.5rem;
  --mobile-h2: 2rem;
  --mobile-h3: 1.5rem;
  --mobile-h4: 1.25rem;
  --mobile-h5: 1.125rem;
  --mobile-body: 0.95rem;
  --mobile-small: 0.8rem;

  /* === Font Weights === */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  /* background-image: url(./Images/Header/headerbg.jpg); */
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 79px;
  width: 100%;
  align-items: center;
}

header img {
  height: 60px;
  margin-left: 20px;
}

.search-bar {
  padding: 0 10px 0 10px;
  border: none;
  border-radius: 5px;
  width: 280px;
  height: 35px;
  background: #f8f8f8 url('./Images/Header/search-icon.png') no-repeat right 12px center;
  background-size: 20px 20px;
  font-size: 16px;
}

/* navbar color */
#miss {
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #888A8D, #A0A2A5, #C8CACC) border-box;
  background-clip: padding-box, border-box;
}

#plann {
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #6C5E3C, #A18F60, #D4C49A) border-box;

}

#navaboutus {
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(120deg, #1E1E40, #4B6FCF, #9AB5FF) border-box;
}

#contactsuss{
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(120deg, #CB732B, #4F3B1A);
}

.rightone {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;

  margin-right: 20px;
}

.rightone img {
  height: 35px;
  margin: 0;
}

.rightone p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: white;
  padding: 0%;
}

#vector {
  height: 7px;

}

.search-container {
  position: relative;
  align-content: center;

}

.search-icon {

  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #bdbdbd;
}


.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 51px;
}

.social-icons {
  margin-left: 85px;
  display: flex;
  width: 100px;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.navlinks {
  display: flex;
  margin-right: 85px;
  width: 100vw;
  justify-content: end;
  gap: 77px;
  align-items: center;

}

.navlinks a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: rgb(30, 30, 30);
}

.navlinks button {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  height: 39px;
  width: 134px;
  border-radius: 8px;
  border: none;
}

.navlinks button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.30);
  border: 2px white solid;
}


.navlinks a:hover {
  text-shadow: 0 6px 10px rgba(0, 0, 0, 0.30);
  font-size: 19px;
  font-weight: 500;
}


h1 {
  font-family: var(--font-family);
  color: white;
  font-size: var(--desktop-h1);
  font-weight: var(--font-bold);
  text-align: left;
  margin: 0;

}

.herosection {
  background-image: url(./Images/Hero/EarthImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 481px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.herosection p {
  font-family: "Poltawski Nowy", serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
  max-width: 770px;
  text-align: center;
}


.herosection button {
  width: 140px;
  height: 43px;
  border-radius: 36px;
  background-color: #C0C0C0;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding-left: 130px;
  padding-right: 130px;
  justify-content: center;
  margin: auto;
  margin-top: 30px;

}

.card {
  background: url("./Images/Hero/card.png");
  background-size: cover;
  color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
  height: 100;
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.card p {
  font-size: 14px;
  font-weight: 250;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 270;
}

.card button {
  font-size: 11px;
  font-weight: 500;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: white;
  width: 81px;
  height: 35px;
  border-radius: 5px;
  margin-left: 260px;

}

.timecontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  width: 1124px;
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;

}

.timecontainer p {
  font-family: "Castoro", serif;
  font-size: 18px;
  font-weight: 450;
  width: 174;
}

.totaltime {
  position: relative;
  width: 414px;
  height: 130px;
  border-radius: 24px;
  background-color: #020305;
  margin-left: 100px;
}

.totaltime img {
  position: absolute;
  left: 58px;
  top: 26px;
}


#total {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 550;
  color: white;
  position: absolute;
  left: 110px;
  top: 36px;
  margin: 0;
}

#time {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 1000;
  color: white;
  position: absolute;
  left: 58px;
  top: 79px;
  margin: 0;
  letter-spacing: 10px;
}


.astrodiff {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1210px;
  height: 421px;
  margin-top: 30px;
  margin: auto;
  border-radius: 37px;
  background-color: #020305;
  align-items: center;

}

.astrodiff img {
  border-radius: 37px 0px 0px 37px;
}


.astrocard {
  background: #999999;
  padding: 2rem 1.5rem;
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 320px;
  max-width: 430px;
  margin-left: 60px;
  padding-left: 50px;

}

.astrocard h3 {
  font-size: 30px;
  font-weight: 800;
  height: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.astrocard p {
  font-size: 16px;
  font-weight: 250;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 390px;
}

.astrocard button {
  font-size: 15px;
  font-weight: 800;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: white;
  width: 120px;
  height: 50px;
  margin-top: 10px;
  border-radius: 20px;
  margin-left: 280px;
}

.lunar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 1153px;
  height: 609px;
  margin: auto;
  margin-top: 50px;
}

.lunar-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px
}


.lunar h1 {
  font-family: "Castoro", serif;
  color: #020305;
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 400;
}

.lunar h2 {
  font-family: "Castoro", serif;
  text-decoration: underline;
  color: #020305;
  font-size: 30px;
  font-weight: 500;
}

.lunar p {
  font-family: "Castoro", serif;
  color: #020305;
  font-size: 16px;
}

.lunar button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 1px black solid;
  background-color: white;
  margin-top: 30px;
}

.lunar-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lunar-image p {
  font-family: "Castoro", serif;
  font-size: 20px;
  font-weight: 300;
}

.astonaut {
  position: relative;
}

.astonaut img {
  margin: auto;
  margin: 108px;
  width: 1210px;
}

.astonaut p {
  position: absolute;
  top: 82px;
  left: 140px;
  font-family: "Inter", sans-serif;
  color: white;
  width: 610px;
  font-size: 52px;
  font-weight: 800;
}

.vision {
  padding: 0px 80px 0px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 120px;
  width: 1070px;
  height: 300px;
  margin: auto;
  margin-bottom: 56px;
  background-image: url('./Images/Hero/moon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.vision1 {
  padding: 0px 40px 0px 40px;
  border: 1px rgb(202, 201, 201) solid;
  border-radius: 60px;
  width: 383px;
  height: 203px;
}

.vision1 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  ;
  font-size: 14px;
  color: white;
  font-weight: 800;
}

.vision1 h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  ;
  font-size: 25px;
  color: white;
  color: white;
}

.mission1 {
  padding: 0px 40px 0px 40px;
  border: 1px rgb(202, 201, 201) solid;
  border-radius: 60px;
  width: 383px;
  height: 203px;
}

.mission1 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  ;
  font-size: 14px;
  color: white;
  font-weight: 800;
}

.mission1 h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  ;
  font-size: 25px;
  color: white;
  color: white;
}

/* adding a mission */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 20, 0.90);
  display: none;
  z-index: 999;
}

.modal-content {
  background: #23232f;
  color: #efefef;
  padding: 30px;
  margin: 40px auto;
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);
}

#closeModalBtn {
  float: right;
  cursor: pointer;
  font-size: 1.7em;
  color: #bbb;
}

.modal-content label {
  display: block;
  margin-top: 18px;
  margin-bottom: 4px;
  font-weight: 600;
}

.input-textarea {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: var(--body-color) 1px solid;
  border-radius: 6px;
  box-sizing: border-box;
  background: #30303a;
  color: #fff;
}

.modal-content textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 120px;
}

.modal-content button[type="submit"] {
  background: #191920;
  color: #eee;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin-top: 12px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.2s;
}

.modal-content button[type="submit"]:hover {
  background: #444457;
}

.community-title {
  display: flex;
  gap: 20px;
  margin-left: 100px;
  font-family: "Plus Jakarta Sans", sans-serif;
  ;
  font-size: 36px;
  color: black;
  font-weight: 100;
}

.community-title p {
  font-family: "Plus Jakarta Sans", sans-serif;
  ;
  font-size: 36px;
  color: black;
  font-weight: 1000;
  margin: 0;
}


.community-title img {
  width: 52px;
  height: 52px;
}


.teamnames {
  width: 1300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 60px;
  gap: 5px;
  place-items: center
}

.teamnames p {
  font-family: "Castoro", serif;
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moonbanner {
  background-image: url(./Images/banners/moonbanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  place-items: center;
  height: 280px;
  margin: 80px 0px 80px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.moonbanner h1 {
  font-family: "Poly", serif;
  color: white;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
}


.moonbanner p {
  font-family: "Poly", serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.mbrightpart {
  margin-left: 80px;
}

.bgmiddlepart {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

.title {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.score {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
}

.footerbanner {
  background-image: url(./Images/Footer/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  place-items: center;
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.footercontainer {
  background-color: #020305;
  width: 1257px;
  height: 347px;
}

.footercontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fcrightpart {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 100px;
}

.fcrightpart p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: white;
}


.fcmiddlepart p {
  font-family: "Abel", sans-serif;
  font-size: 15px;
}

.fcleftpart p {
  font-family: "Abel", sans-serif;
  font-size: 15px;
}

.subsucription {
  display: flex;
  flex-direction: column;
  justify-content: CENTER;
  margin-left: 100px;
}

.subsucription p {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  color: white;
}

.subsucription button {
  width: 248px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding-left: 15PX;
  font-family: "Castoro", serif;
  ;
  font-size: 14PX;
}

.line {
  border-bottom: rgba(211, 211, 211, 0.3) 0.2px solid;
  width: 1100px;
  margin-left: 100px;
  margin-top: 30px;

}

.bottomcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.terms p {

  font-family: "Castoro", serif;
  ;
  font-size: 14PX;
  color: white;
}

.terms {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}


/* mission page styling */

.missionherosection {
  background: url(./Images/missionpage/astronaut.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 481px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.missionherosection p {
  font-size: 28px;
  font-weight: var(--font-semibold);
  color: white;
  max-width: 900px;
  text-align: left;
  margin-left: 89px;
  margin-top: 70px;
}

.missionherosection h1 {
  margin-top: 80px;
  margin-left: 89px;
  font-size: 70px;
  font-weight: var(--font-bold);
}

.mission-title h1 {
  color: var(--mission-font-color);
  margin-top: 56px;
  margin-bottom: 45px;
  margin-left: 89px;
  font-size: var(--desktop-h1);
  font-weight: var(--font-bold);
}

.missions-span {
  color: var(--mission-font-color);
}

.missions-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(282px, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 55px;
  width: 89%;
  margin: auto;
  margin-bottom: 100px;

}

/* crud buttons */
.miss-img-container img {
  width: 273px;
  height: 282px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
}

.crudbtns {
  position: absolute;
  left: 1.5%;
  bottom: 2.5%;
}

.crudbtns i {
  color: var(--body-color);
  transition: color 0.3s ease;
}

.crudbtns i.fav.active {
  color: red;
}

.crudbtns button {
  border: 1px var(--body-color) solid;
  border-radius: 10px;
  padding: 4px;
  background-color: white;
}

.delete:hover {
  color: red;
}

.fav:hover {
  color: red;
}

.modif:hover {
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.Artemis {
  display: flex;
  align-items: center;
  width: 615px;
  height: 282px;
  border: #474747 1px solid;
  border-radius: 24px;
  position: relative;
}



.mission-img {
  width: 273px;
  height: 282px;
  margin: 0;
}

.Artemis-infos {
  display: flex;
  flex-direction: column;
  height: 282px;
  width: 342px;
  gap: 17px;

}

#missionheading {
  font-size: 24px;
  color: white;
  width: 295px;
  font-weight: 800;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

#missionarticle {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--body-color);
  font-size: 16px;
  width: 295px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
}

.dateplusagency {
  display: flex;
  gap: 8px;
  width: 295px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.mission-smallcard {
  display: flex;
  align-items: center;
  gap: 8px;
  border: #AAAAAA 1px solid;
  border-radius: 24px;
  padding: 10px;
  margin: 0;
}

.mission-smallcard p {
  font-family: var(--nd-font-family);
  font-weight: var(--font-regular);
  font-size: 10px;
  color: #FFFFFF;
  display: inline-block;
}

.flight-test {
  grid-area: 4 / 2 / 5 / 3;
}


/* planetes page */

.planets-section {
  background: url(./Images/planetspage/universehero.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 603px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.planet-title {
  color: var(--mission-font-color);
  margin-top: 56px;
  margin-bottom: 45px;
  margin-left: 62px;
}

.planet-title span {
  color: #C8A95B;

}

.planets-section p {
  font-size: var(--desktop-h3);
  font-weight: var(--font-semibold);
  color: white;
  max-width: 900px;
  margin-top: 90px;
  margin-bottom: 0;
  margin-left: 62px;

}

.planets-section h1 {
  font-size: 102px;
  font-weight: var(--font-semibold);
  width: 918px;
  margin-left: 62px;
}

.solarsystem {
  color: #C8A95B;
}

.planet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
}

.all-planets img {
  border: #474747 1px solid;
  border-radius: 24px;
}

.planet-def {
  width: 266px;
}

.planet-def h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.planet-def p {
  color: var(--body-color);
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;

}

.planetmoon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
  margin-top: 600px;
}

.planetmoon-def {
  width: 266px;
}

.planetmoon-def h1 {
  font-family: "Inter", sans-serif;
  ;
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.planetmoon-def p {
  text-align: justify;
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;
}

.thesun {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
  margin-top: 600px;
}

.thesun-def {
  width: 266px;
}

.thesun-def h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.thesun-def p {
  text-align: justify;
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;
}

.planetneptune {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
  margin-top: 600px;
}

.planetneptune-def {
  width: 266px;
}

.planetneptune-def h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.planetneptune-def p {
  text-align: justify;
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;
}

.jupiter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
  margin-top: 600px;
}

.jupiter-def {
  width: 266px;
}

.jupiter-def h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.jupiter-def p {
  text-align: justify;
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;
}

.planetvenus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
  margin-top: 600px;
}

.planetvenus-def {
  width: 266px;
}

.planetvenus-def h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.planetvenus-def p {
  text-align: justify;
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;
}

.mars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
  margin-top: 600px;
}

.mars-def {
  width: 266px;
}

.mars-def h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.mars-def p {
  text-align: justify;
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;
}

.saturn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
  margin-top: 600px;
}

.saturn-def {
  width: 266px;
}

.saturn-def h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.saturn-def p {
  text-align: justify;
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;
}

.uranus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  margin: auto;
  width: 1060px;
  margin-top: 600px;
  margin-bottom: 600px;
}

.uranus-def {
  width: 266px;
}

.uranus-def h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
}

.uranus-def p {
  text-align: justify;
  color: var(--body-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 17px;
}

.planets-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  grid-template-columns: repeat();
  background-image: url(./Images/planetspage/dwarf-planetes/dwarfplanetesbg.png);
  background-size: cover;
  height: 1915px;
  width: 100wh;
  margin: auto;
  margin-top: 50px;
}

.dwarfplanet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dwarfplanet h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  text-align: center;
}

.dwarfplanet p {
  font-family: "Castoro", serif;
  font-size: 16px;
  color: white;
  text-align: center;
  width: 423px;
}

.dwarferisplanet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 3 / 1 / 4 / 3;
}

.dwarferisplanet h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: white;
  text-align: center;
}

.dwarferisplanet p {
  font-family: "Castoro", serif;
  font-size: 16px;
  color: white;
  text-align: center;
  width: 423px;
}

.bottom-quote p {
  font-family: "Libre Caslon Text", serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  width: 1152px;
  margin: auto;
  margin-top: 79px;
  margin-bottom: 79px;
  color: white;
}

/* About us page */

.moonherosection {
  background-image: url(./Images/aboutus/moonbanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 481px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 39px;
}

.moonherosection p {
  font-size: var(--desktop-h3);
  font-weight: var(--font-semibold);
  color: white;
  max-width: 770px;
  text-align: center;
}

.moonherosection h1 {
  font-size: 96px;
}

.aboutus-title {
  color: var(--mission-font-color);
  margin-top: 56px;
  margin-bottom: 45px;
  margin-left: 89px;
}

.aboutus-title span {
  color: #4B6FCF;
}

.moonherosection span {
  color: #4B6FCF;
}

.moonherosection button {
  /* width: 140px;
  height: 43px;
  border-radius: 36px;
  font-weight: 600;
  color: white;
  background-color: #000000;
  border: #FFFFFF 1px solid;
  transition: background-color 0.3s 
ease; */
  font-size: var(--mobile-body);
  font-weight: var(--font-semibold);
  color: white;
  background-color: #000000;
  border: #FFFFFF 1px solid;
  border-radius: 50px;
  width: 100%;
  max-width: 350px;
  height: 50px;
  margin-top: 16px;
  padding: 12px 24px;
  transition: background-color 0.3s ease
}

.moonherosection button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.sitemission {
  background-image: url(./Images/aboutus/blackbg.png);
  background-repeat: no-repeat;
  place-items: center;
  margin: auto;
  width: 1152px;
  height: 432px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sitemission p {
  color: white;
  font-size: 32px;
  font-weight: 800;
  width: 336px;
}

.sitemission div {
  height: 393px;
  margin: auto;
}

.techcontent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 187px;
  margin: auto;
  margin-bottom: 136px;
  width: 1152px;

}

.techcontent img {
  border: #474747 1px solid;
  border-radius: 24px;
}

.techdetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 315px;
  height: 315px;
}

.techdetails h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin: 0;
}

.techdetails p {
  color: var(--body-color);
  text-align: justify;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.techdetails button {
  font-size: 16px;
  border-radius: 20px;
  font-weight: 600;
  color: white;
  background-color: #000000;
  border: #FFFFFF 1px solid;
  width: 266px;
  height: 66px;
  transition: background-color 0.3s ease;
}

.techdetails button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.ourstory {
  display: flex;
  justify-content: center;
  background-image: url(./Images/aboutus/ourstory.png);
  background-repeat: none;
  width: 1152px;
  height: 450px;
  margin: auto;
  margin-bottom: 136px;
}

.ourstory-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 835px;
  height: 288px;
  margin: auto;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.5);

  border: lightgray 0.5px solid;
}

.ourstory-content h1 {
  font-size: 25px;
  font-weight: 1000;
  color: white;
}

.ourstory-content p {
  font-size: 14px;
  color: white;
  font-weight: 800;
  width: 729px;
  text-align: center;
  line-height: 2;
}



.ourvision {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  border-radius: 37px;
  width: 1152px;
  height: 421px;
  margin: auto;
  border: #474747 1px solid;
}

.ourvision img {
  border-radius: 37px;
}

.insidecontainer {
  background-color: #999999;
  width: 483px;
  height: 377px;
  margin: auto;
  border-radius: 33px;
}

.ourvision-content {
  margin: auto;
  width: 389px;
  height: 330px;

}

.ourvision-content h1 {
  font-size: 30px;
  font-weight: 800;
  color: white;
  width: 159px;
  margin-top: 56px;
  margin-bottom: 43px;
}


.ourvision-content p {

  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 398px;
  margin-bottom: 35px;
}

.ourvision-content button {
  font-size: 16px;
  font-weight: 800;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: white;
  border: none;
  width: 127px;
  height: 57px;
  border-radius: 20px;
  margin-left: 277px;
  transition: background-color 0.3s ease;
}

.ourvision-content button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  width: 1297px;
  height: 782px;
  margin: auto;
}



.team h1 {

  font-size: 34px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-bottom: 21px;
}

.team p {

  font-size: 24px;
  color: white;
  font-weight: 100;
  text-align: center;
}

.aboutus-title {
  color: var(--mission-font-color);
  margin-top: 56px;
  margin-bottom: 45px;

}

.aboutus-title span {
  color: #4B6FCF;
}

.values h1 {
  color: var(--mission-font-color);
  font-weight: var(--font-bold);
  text-align: center;
  color: white;
  margin-bottom: 50px;
  margin-top: 112px;
}

.values span {
  color: #4B6FCF;
}

.ourvalues {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 80px;
  width: 1050px;
  height: 215px;
  margin: auto;
  margin-bottom: 67px;
  align-items: center;
  place-items: center;
  background-color: #919191;
  border-radius: 40px;
}

.ourvaluescontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 137px;
  height: 113px;
}

.ourvaluescontainer h1 {
  font-family: "Castoro", serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin: 0;
}

.ourvaluescontainer p {
  font-family: "Poly", serif;
  font-size: 11px;
  font-weight: 500;
  color: black;
  width: 137px;
  margin: 0;
  text-align: center;
}

/* Contact us page */

.frame {
  display: grid;
  grid-template-columns: 512px repeat(1, 1fr);
  width: 1196px;
  height: 667px;
  border: #474747 2px solid;
  border-radius: 10px;
  margin: auto;
  margin-top: 183px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.titlescontainer {
  width: 512px;
  height: 667px;

}

.imgcontainer {
  background-image: url(./Images/cotactus/marsimg.png);
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 111px;
  width: 512px;
  height: 647px;
  margin: auto;
  margin-top: 10px;
  width: 491px;
  height: 647px;
}

.contactus-img {
  margin-left: 37px;
}

.contactus-img h1 {
  font-family: "Poppins", sans-serif;
  ;
  font-size: 36px;
  font-weight: 600;
  color: white;
  margin: 0;
  margin-top: 26px;
}

.contactus-img p {
  font-family: "Poppins", sans-serif;
  ;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
  color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 199px;
  height: 98px;
  margin-left: 37px;
}

.phonecontainer {
  display: flex;
  align-items: center;
}

.contact-info p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  margin: 0;
  margin-left: 20px;
  display: inline-block;
}

.contactus-social-links {
  display: flex;
  gap: 24px;
  margin-top: 60px;
  margin-left: 37px;
  align-items: center;
}

.userinfo {
  width: 599px;
  height: 526px;
  margin: auto;
}

.fullname {
  display: flex;
  flex-direction: row;
  gap: 39px;
  margin-top: 60px;
}

.userinfo label {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.userinfo input {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  width: 278px;
  height: 28px;
  margin-top: 12px;
  display: block;
  border: 0;
  border-bottom: 0.8px #020305 solid;
  color: black;
}

.userinformations {
  display: flex;
  flex-direction: row;
  gap: 39px;
  margin-top: 60px;
}

.subjects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

/* checkbox styling */
.verified {
  display: flex;
  gap: 20px;
}

.verified input {
  display: none;
}

/* The clickable circle */
.verified-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  user-select: none;
}

.verified-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #686868;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-size: 16px;
  color: white;
  background-color: transparent;
}

/* Show blue background + checkmark when checked */
.verified input:checked+.verified-circle {
  background-color: #202021;
}

.verified input:checked+.verified-circle::after {
  content: '✔';
}

/* Label text */
.verified-text {
  font-family: "Poppins", sans-serif;
  ;
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.message {
  margin-top: 40px;
}

#message {

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  width: 595px;
  height: 50px;
  margin-top: 12px;
  display: block;
  border: 0;
  border-bottom: 0.8px #020305 solid;
  color: black;
}

.send-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  width: 214px;
  height: 54px;
  border-radius: 5px;
  background-color: #1B1B1B;
}

.send-button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.messagebutton {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.elp-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 67px;
  width: 1152px;
  height: 282px;
  margin: auto;
  margin-top: 114px;
  margin-bottom: 16px;
}

.elp-container img {
  width: 50px;
  height: auto;
}

.email-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 339px;
  height: 221px;
}

.livechat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 339px;
  height: 282px;
}

.phone-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 339px;
  height: 221px;
}

.elp-container h1 {
  font-size: 36px;
  font-weight: 400;
  color: white;
  margin: 0;
}

.elp-container p {
  font-size: 16px;
  font-weight: 200;
  color: white;
}

.elp-container a {
  font-size: 16px;
  font-weight: 300;
  color: white;
}

/* form validation */
/* --- Animated Error --- */
.error {
  color: #e74c3c;
  font-size: 13px;
  margin-top: 5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.error.show {
  opacity: 1;
  max-height: 50px;
  transform: translateY(0);
}

/*Input Validation Styles*/
.valid {
  border-bottom: 2px solid #2ecc71 !important;
  transition: border 0.3s ease;
}

.invalid {
  border-bottom: 2px solid #e74c3c !important;
  transition: border 0.3s ease;
}

@media (max-width: 600px) {
 
  
}